[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
pandas = "*"
numpy = "*"
requests = "*"
python-dotenv = "*"
scikit-learn = "*"
xgboost = "*"
pip = "*"
install = "*"
scikit-image = "*"
lightgbm = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.8"
